{# templates/skilltree/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Skill Tree – {{ treeName }}{% endblock %}

{% block body %}
  <h1>{{ treeName }}</h1>

  <h2>Capacities</h2>
  {% if capacities is empty %}
    <p><em>No capacities found for this tree.</em></p>
  {% else %}
    <ul>
      {% for cap in capacities %}
        {% set titleBlocks = cap.properties.Name.title ?? [] %}
        <li>{{ titleBlocks[0].plain_text|default(cap.id) }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
