{# templates/skilltree/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Skill Tree{% endblock %}

{% block body %}
  <h1>Skill Tree</h1>
  <p>This is the placeholder for your skill tree page.</p>
{% endblock %}
