{% extends 'base.html.twig' %}
{% block title %}Ability Type Created{% endblock %}

{% block body %}
    <a href={{ path('ability_type_index') }}>
        Go back to Ability Types
    </a>

    <a href={{ path('ability_type_new') }}>
        New Ability Type 
    </a>
{% endblock %}
